<a href="https://colab.research.google.com/github/SugeilyCruz/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro Phthom
variables --> snake case = nombre_completo

In [3]:
escuela = "FES Aragón"
print(escuela)
print("---------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es 
una 
frase
de multiples líneas
y tambien es
un tipo de dato
"""
print(frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

FES Aragón
---------

Esta es
una
frase
de multiples líneas
y tambien es
un tipo de dato

#Print
con comas,
con signo mas +
con format ()
con el operador f"

In [4]:
#, Separa, pone un espacio entre las variables.
print(nombre, edad)

jose 13

In [11]:
#El + concatena cadenas (string) y no pone un espacio.
print(nombre + str(edad))
print (nombre +" "+ nombre_completo)

jose13
jose jose sosa cardenas

In [15]:
#print con formato ---> Su nombre es Jose y su edad es de 13 años.
print("su nombre es",nombre,"y su edad es de",edad,"años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad) )#----> con format
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad) )

su nombre es jose y su edad es de 13 años.
Su nombre es jose y su edad es de 13 años

In [18]:
#Con formato con el operador f""
print(f"Su nombre es \"{nombre}\" y su edad es de {edad} años.")

Su nombre es "jose" y su edad es de 13 años.

#Caracter de escape
\n salto de linea 
\t tabulador
\a beep
\" imprimir comilla doble
\' imprimir comilla simple

In [21]:
"""
Esto es un ocmentario de multiple
linea
 """
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

#Ayuda de tipos de datos en python
dir()
help()

In [ ]:
#str, int, float, bool ... list, dict, set
#dir(str) #cuando ya los he usado
help(str) #los que tienen _no lo podemos ocupar.

In [33]:

print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS----Jose Sosa Cardenas

In [32]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#Clase String
Es maneja como un arreglo (c o java) o lista (python)

In [35]:
telefono="Huawei mate 30 pro"
print(telefono[0])
print(telefono[5])
print(telefono[7])

H
i
m

#Slicing (rebanado)
[ini:stop:incremento] --->como un for pero mas facil

In [46]:
print(telefono[7:11:1]) #11 por que le agregamos el stop. 
#El inicio y el incremento son opcionales.
#El valos por defecto de incremento es 1.
print(telefono[:11:]) 
#El valos por defecto de stop es len(str).
print(telefono[::]) 
#incremento negativo
print(telefono[::-1])
#cuenta dede o como 0
print(telefono[-3::1])
#slacing negativo
ini=-3
inc=1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

#Metodos de String(str)
Existen metodos muy utiles en esta clase.

In [81]:
facultad= "    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count(" "))#cuantos espacios hay.
print(facultad.count("u"))#cuantas u //cuenta el numero de lementos en la cadena.
print(facultad.find("s"))#busca el indice de la primera coincidencia.
print(facultad.index("l"))#es parecido al find.
print(facultad.strip())#remueve los espacios en blanco, los saltos de linea
tamanio=len(facultad)
print(len(facultad))#el numero de caracteres de un string(tamanio)
print(facultad.split("t"))#separa dependiendo el caracter que le des.
print(facultad.strip().split(" "))#quito los espacios y luego separa las palabras.

print("------------------------------------")
#copiar cadenas
otra_cadena= facultad
print(otra_cadena)
otra_cadena ="FES Aragon"
print(facultad)
print(otra_cadena)

#copiar listas 
colores=["rojo","verde"]#creo una lista.
#otra =colores---> si le pones sin copy, y luego le agregamos algo, entonces cambia en el espacio de memoria, cambiarian los dos.
otra =colores.copy()
print(colores)
otra.append("rosa")#agregar rosa.
print(colores)
print(otra)

    facultad de estudios superiores aragon

14
3
17
8
facultad de estudios superiores aragon
49
['    facul', 'ad de es', 'udios superiores aragon      \n']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
------------------------------------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']