<a href="https://colab.research.google.com/github/SugeilyCruz/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#STRING CONTINUACION
numeros_txt="    1, 2, 3, 4    , 5  ,35  ,15  ,12" 
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(",")
print(numeros_txt)

numeros=range(len(numeros_txt))
for j in numeros:
  numeros_txt[j]=int(numeros_txt[j].strip())
print(numeros_txt)
print("----------------------------------------")
for j in range(len(numeros_txt)):
numeros_txt[j]=int(numeros_txt[j].strip())
print(numeros_txt)
#funcion range()
#range(inicio, stop, incremento) el inicio y el incremento es opcional, si no lo pones es ini=0 e incre=1
print(range(1, 10, 3))
rango=range(1,10,2)
for x in rango:
  print(x)

    1, 2, 3, 4    , 5  ,35  ,15  ,12
['1', ' 2', ' 3', ' 4    ', ' 5  ', '35  ', '15  ', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9

#LISTAS
* mutables
* declaran con []
* selector[int]
* pueden ser de cualquier tipo y mezclados

#tuplas
* No mutables
* declaran con ()
* selector [int]
#diccionarios
* mutables
* conjunto de pares llave:valor
* Equivalentes a los objetos JSON de JavaScritp
#conjuntos
* representacion de la teoria de conjuntos

In [ ]:
#Listas (Equivalentes a arreglos en otros lenguajes de prog.)
frutas=['sandia','pera','manzana','fresa','kiwi','naranja']
print(frutas)
cosas=['cuaderno', 2, 3.1416, True, False, ['Rojo','Azul'] ]
print(cosas)
#Mutables que se pueden cambiar, despues de ponerlas.
frutas[2]='coco'
print(frutas)
frutas[2]=frutas[2].capitalize()
print(frutas)
#agregar lista
frutas.append('mango')
print(frutas)
frutas.insert(2,'platano')#Agregar otro elemento, despues de la posicion que queramos.
print(frutas)

['sandia', 'pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['sandia', 'pera', 'coco', 'fresa', 'kiwi', 'naranja']
['sandia', 'pera', 'Coco', 'fresa', 'kiwi', 'naranja']
['sandia', 'pera', 'Coco', 'fresa', 'kiwi', 'naranja', 'mango']
['sandia', 'pera', 'platano', 'Coco', 'fresa', 'kiwi', 'naranja', 'mango']

In [2]:
fecha=['06','10','2020']
fecha_str="/".join(fecha)
print(fecha_str)
print("-----------")
#eliminar elemento
cosas=['cuaderno', 2, 3.1416, True, False, ['Rojo','Azul'] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo=cosas.pop()
print(cosas)
algo=cosas.pop(2)
print(algo)
print(cosas)
print('-----------------')
cosas.remove(2)
print(cosas)
#vaciar una lista
cosas.clear()
print(cosas)

#ordenar
frutas=['sandia','pera','manzana','fresa','kiwi','naranja']
frutas.sort()#Tienen que tener congruencia entre ellos.
print(frutas)

06/10/2020
-----------
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
-----------------
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
[]
['fresa', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']

In [ ]:
#Slincing
cosas=['ucaderno', 2, 3.1416, True, False, ['Rojo','Azul'] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:])
#sustituir rebanadas -2,-2
numeros[8:13:]=[-2,-2]
print(numeros)
#preguntar por una existencia
print(-2 in numeros)

[True, False]
['ucaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

#LISTAS MULTI DIMENSIÃ“N
Listas dentro de listas

In [ ]:
computadoras=['HP','Mac Book Pro 17','Mate Book','Lenovo Legion']
oss=['Windows 10','Linux','Android','iOS']

computo=[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])#ya no contamos ocn 0, si no desde 1.
print(computo[0][3][:6:-1])
print('Linux' in computo[1])
dbms=[["Mysql","Open Source", False],["MS SQL Server","de paga",True]]#Sistema gestores de bases de datos=es lo que hace consultas desde tu programa a la base de datos.
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])
print(computo[2][1][1][3:7:])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate Book
Mate
ovoneL
ovoneL
noigeL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga
paga